/* Write your CSS here */
.main{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.text{
    color: white;
    
} 
.image{
    width: 50%;
    height: 40%;
}
 .btn1{
    border-color: white;
    background-color: blue;
    color: white;
    border-radius: 9px;
    width: 200px;
    height: 50px;
    margin: 20px;
}
.btn2{
    border-color: white;
    background-color: black;
    color: white;
    border-radius: 9px;
    width: 200px;
    height: 50px;
} 